
/*GET RID OF UNWANTED PADDING AND MARGINS*/
html, body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, ol, ul, li, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    padding:0%;
    width: 100%;
	height: 100vh;
    background-color: black;
    color: white;
    background: -webkit-radial-gradient(circle, #000033, #191970, black);
    background: -o-radial-gradient(circle, #000033, #191970, black);
    background: -moz-radial-gradient(circle, #000033, #191970, black);
    background: radial-gradient(circle, #000033, #191970, black);
}



.header{
    top: 0%;
    width: 100%;
    height: 9em;
    background-color: #383838;
    font-family: 'Lobster', cursive;
    border-bottom: 3px solid black;
    z-index: 3;
}

h1 {
    font-size: 3em;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 5px 0 #000000, 3px 3px 0 #000000;
}

.choice, h1 {
    width: 33%;
    float: left;
}

#X, #O {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 5em;
    width: 5em;
     border-bottom: 3px solid black;
     z-index: 3;
}

.choice,h1{
    width: 33%;
    float:left;
}
h1{
    font-size: 3em;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 5px 0 #000000, 3px 3px 0 #000000;
}

#X,#O{
    margin-top: 2em;
    margin-bottom: 2em;
    height: 5em;
    width:5em;
    font-weight: bold;
    font-size: 1em;
    background-color: #800000;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.ticBox {
    position: fixed;
    z-index: 1;
    margin: 9% auto;
    left: 0;
    right: 0;
    width: 50%;
    height: ;
    padding: 0.1em;
    background-color: #06A9FC;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ticBox{
    position: fixed;
	z-index: 1;
	margin: 9% auto;
	left: 0;
	right: 0;
    width: 50%;
    height: ;
    padding:0.1em;
    background-color: #06A9FC;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
    border-top: 3px solid black;
    border-left: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 0%;
    flex: 28%;
    height: 6em;
    margin: 0.1em;
    background-color: #000020;
}

.cell:nth-child(2n) {
    background-color: #000011;
}

.banner{
    text-align: center;
    color: black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    z-index: 2;
    position: absolute;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: #828282;
}

button {
    outline: 0;
}

button, .cell:hover {
    cursor: pointer;
}

.reset {
    width: 100%;
}

#reset {
    background-color: #828282;

}

button{
    outline: 0;
}
button,.cell:hover{
    cursor: pointer;
}

#reset{
    margin-top: 1em;
    opacity: 1;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 0.2em;
    width: 100%;
    font-family: 'Lobster', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer{
    position: fixed;
    bottom: 0%;
    padding-bottom:0.2em;
    width: 100%;
    font-family: 'Lobster', cursive;
}
a{
    color:inherit;
    text-decoration:none;
}
a:hover{
    color: red;
}
